body {
		background-color: #e2dcda;
		font-family: sans-serif;

	}
	.first {
		height: auto;
		border: 2px solid white;
	}
	.gap {
		margin: auto;
		width: 500px;
	}
	.gaptext {
		text-align: center;
	}